* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #ffffff;

background-image:  linear-gradient(#e8e8e8 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #e8e8e8 0.6000000000000001px, #ffffff 0.6000000000000001px);
background-size: 12px 12px;
  }

  h1 {
    text-align: center;
     font-family: 'VT323', monospace;
  
}

h2{font-family: 'Oswald', sans-serif;}

header {
    width: 80vw;
    height: auto;
  
    color: #ff36a4;
    padding: 20px 15px;
    text-shadow: 4px 3px 5px #000000b5;
    font-size: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px -2px 19px #00000039;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    
}



.card {
    width: 350px;
    height: 321px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 33px;
    border-radius: 10px;
    box-shadow: 9px 9px 13px rgb(0 0 0 / 23%);
    margin: 70px;
   
}

.question {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-answer {
    background-color: #ff0090;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.category-btns {
    display: fixed;
    justify-content: space-around;
    margin-top: 21px;
}

.category-btn {
    background-color: #8c8c8c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}






footer {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    
    text-align: center;
 
    align-items: center;
 


    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    
}

.icon {
    flex: 1;
    text-align: center;
}

.icon img {
    width: 50px; 
    height: 50px; 

}