* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #ffffff;
    background-image: linear-gradient(#e8e8e8 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #e8e8e8 0.6000000000000001px, #ffffff 0.6000000000000001px);
    background-size: 12px 12px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    overflow-x: hidden;
}

.dark-mode{
    background-color: #0c0c0c!important;
    background-image: none!important;
    background-size: 12px 12px;
    color: #FFF;
  }

h1 {
    text-align: center;
    font-family: 'VT323', monospace;
}




h2 {
    font-family: 'Oswald', sans-serif;
}

.profile_h2{
    font-family: 'VT323', monospace;
    font-size: 55px;
    text-align: center;
    color: #ff36a4;
    text-shadow:  2px 2px 0 #000;
}

.bookmark {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

header {
    z-index: 999 ;
    width: 80vw;
    height: 77px;
    position: fixed;
    color: #ff36a4;
    padding: 2px 0 20px 0;
    text-shadow: 4px 3px 5px #000000b5;
    font-size: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px -2px 19px #00000039;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
    border-bottom: 1px solid #ff0090;
    border-top: 1px solid #2b2b2b;
}



main {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  margin-top: 187px;
}

#main_profile {
  
    height: 70vh;
   
}

.hidden {
    display: none;
  }


 .answer {margin: 21px 0;
    height: fit-content;
    z-index: 99;
    width: 100%;
    padding: 19px 34px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 9px 9px 13px rgb(0 0 0 / 23%);
    text-align: left;
    font-size: 17px;
    color: #000;
   
    transition: all 0.3s ease-in-out;
    
   
    
 } 

/* .card_bk_book {background: url("https://rene-huber.site/bookmark_filled.png") top right  no-repeat;
    background-size: 30px;}
.card_bk_home {background: url("https://rene-huber.site/bookmark_filled2.png") top right  no-repeat;
    background-size: 30px;} */




.card {
    
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    width: 350px;
    height: 321px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 33px;
    border-radius: 10px;
    box-shadow: 9px 9px 13px rgb(0 0 0 / 23%);
    margin: 50px;
    border: 2px solid #FFF;
    position: relative;
    transition: all 0.3s ease-in-out;

    
}

.bookmarks {
    position: absolute;
    right: 8px;
    top: -1px;
    font-size: 33px;
    color: #ccc;
    text-shadow: 1px 1px 1px #000;
    transition: color 0.53s, text-shadow 0.53s;
}
.bookmarks:hover {color: #ceafc0;}

.bookmarks_active {
    color: #e22d90!important;
  
}


.buttons {
    display: flex;
    justify-content:center;
    gap: 3%;
    width: 100%;
    margin: 21px 0;
}


.show-more {
    font-size: 20px;
text-align: center;
    height: 80px;
    width: 200px;
    margin: 155px auto 170px auto;
}

.btn-show {
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.43);
}

.btn-answer {
    background: linear-gradient(to bottom,  #ff5db1 0%,#ff0090 100%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.23);
    text-shadow: 0px 1px 4px rgba(0,0,0,0.43);
}

.btn-answer:hover {
    background: linear-gradient(to bottom,  #ff0090 0%,#ff2da0 100%);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.43);
}

.category-btns {
    display: flex;
    justify-content: space-around;
}

.category-btn {
    background-color: #8c8c8c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 9px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 61px;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid #ff0090;
    z-index: 999;
}

.icon {
    display: flex;
    align-items: center;
    margin: 0 37px;
}

.icon a {
    font-size: 37px;
    color: #ff53b6;
}

.icon_active a {
    font-size: 37px;
    color: #6f475e!important;
    text-shadow: 0px 0px 5px #1b1b1bf0
}



.icon:hover {
    transform: scale(1.2);
    transition: 0.3s;
}


.profile img {
    width: 250px;
    height: auto;
    margin: 0 50px;
    border-radius: 55px;
}

.bookmarks {
    position: absolute;
    right: 8px;
    top: -4px;
    font-size: 33px;
    color: #ccc;
    text-shadow: 1px 1px 1px #000;
}
.activeBookmarks {
    position: absolute;
    right: 8px;
    top: -4px;
    font-size: 33px;
    color: #e22d90!important;
    text-shadow: 1px 1px 1px #000;
}


.characters_left {
    display: flex;
    justify-content: flex-end;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    color: #F00;
    font-weight: 800;

    
    
}

.labelInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    font-family: 'VT323', monospace;
}

textarea{ width: 100%;
    box-shadow: 3px 3px 1px #bcbcbc;}